body{
    color: #6c757d;
    background-color: #f5f6f8;
    margin-top:20px;
    filter: invert(90%);
    background-color: black;
}
.card-box {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e7eaed;
    padding: 1.5rem;
    margin-bottom: 24px;
    border-radius: .25rem;
}
.mb-4, .my-4 {
    margin-bottom: 2.25rem!important;
}
.m-0 {
    margin: 0!important;
}